<div class="registrationDiv">
    <h2>Welcome to your ToDo List</h2>
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="styleBtn" type="submit">Register</button>
    </form>
</div>
